<a href="https://colab.research.google.com/github/kamrulhasan04947/mlprac/blob/main/insurance.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
df = pd.read_csv('/content/drive/MyDrive/Data sets/insurance.csv')

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1338 entries, 0 to 1337
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       1338 non-null   int64
 1   sex       1338 non-null   object
 2   bmi       1338 non-null   float64
 3   children  1338 non-null   int64
 4   smoker    1338 non-null   object
 5   region    1338 non-null   object
 6   expenses  1338 non-null   float64
dtypes: float64(2), int64(2), object(3)
memory usage: 73.3+ KB

In [ ]:
df.isna().sum()

age         0
sex         0
bmi         0
children    0
smoker      0
region      0
expenses    0
dtype: int64

In [ ]:
df.duplicated().sum()

1

In [ ]:
df.drop_duplicates()

      age     sex   bmi  children smoker     region  expenses
0      19  female  27.9         0    yes  southwest  16884.92
1      18    male  33.8         1     no  southeast   1725.55
2      28    male  33.0         3     no  southeast   4449.46
3      33    male  22.7         0     no  northwest  21984.47
4      32    male  28.9         0     no  northwest   3866.86
...   ...     ...   ...       ...    ...        ...       ...
1333   50    male  31.0         3     no  northwest  10600.55
1334   18  female  31.9         0     no  northeast   2205.98
1335   18  female  36.9         0     no  southeast   1629.83
1336   21  female  25.8         0     no  southwest   2007.95
1337   61  female  29.1         0    yes  northwest  29141.36

[1337 rows x 7 columns]

In [ ]:
from sklearn.preprocessing import LabelBinarizer, LabelEncoder

In [ ]:
lbin = LabelBinarizer()

In [ ]:
lblenc = LabelEncoder()

In [ ]:
# sex column
df['sex'].unique()

array(['female', 'male'], dtype=object)

In [ ]:
# Binary encoding
df['sex'] = lbin.fit_transform(df['sex'])

In [ ]:
df['sex'].unique()

array([0, 1])

In [ ]:
#smoker
df['smoker'].unique()

array(['yes', 'no'], dtype=object)

In [ ]:
df['smoker'] = lbin.fit_transform(df['smoker'])

In [ ]:
df['smoker'].unique()

array([1, 0])

In [ ]:
#region
df['region'].unique()

array(['southwest', 'southeast', 'northwest', 'northeast'], dtype=object)

In [ ]:
df['region'] = lblenc.fit_transform(df['region'])

In [ ]:
df['region'].unique()

array([3, 2, 1, 0])

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1338 entries, 0 to 1337
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       1338 non-null   int64
 1   sex       1338 non-null   int64
 2   bmi       1338 non-null   float64
 3   children  1338 non-null   int64
 4   smoker    1338 non-null   int64
 5   region    1338 non-null   int64
 6   expenses  1338 non-null   float64
dtypes: float64(2), int64(5)
memory usage: 73.3 KB

In [ ]:
x = df.drop(['expenses'], axis=1)
y= df['expenses']
y

0       16884.92
1        1725.55
2        4449.46
3       21984.47
4        3866.86
          ...
1333    10600.55
1334     2205.98
1335     1629.83
1336     2007.95
1337    29141.36
Name: expenses, Length: 1338, dtype: float64

In [ ]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

In [ ]:
x_train, x_test, y_train, y_test = train_test_split(x,  y, test_size = 0.33, random_state=42)

In [ ]:
linear_reg = LinearRegression()
linerfit = linear_reg.fit(x_train, y_train)
liner_pr = linerfit.predict(x_test)

In [ ]:
print(liner_pr)

[ 8.79186053e+03  7.03602488e+03  3.70032238e+04  9.43358483e+03
  2.70545789e+04  1.08422988e+04  1.48357906e+01  1.72053608e+04
  8.86891136e+02  1.12464985e+04  2.79010281e+04  9.42754920e+03
  5.14441501e+03  3.85487118e+04  4.05828180e+04  3.72391735e+04
  1.52419630e+04  3.59490915e+04  9.08477277e+03  3.15014342e+04
  3.47412065e+03  1.00477955e+04  2.26008946e+03  7.01702957e+03
  1.11737686e+04  1.29702753e+04  1.44812260e+04  5.93532260e+03
  9.79508091e+03  2.18958651e+03  8.74971070e+03  1.31539807e+04
  4.48933528e+03  3.16122078e+03  4.33052071e+03  1.31721303e+04
  1.65890707e+03  8.62078769e+03  3.32742904e+04  3.27172925e+04
  3.38172815e+03  4.35016404e+03  1.40463135e+04  1.16507099e+04
  8.81748384e+03  1.21204035e+04  5.08536218e+03  2.73486082e+03
  3.55719285e+04  9.18352182e+03  1.59721548e+04  2.32339353e+03
  1.23597984e+04  1.40869096e+03  1.36171585e+04  1.25931123e+04
  4.34718195e+03  3.21745268e+04  1.32726168e+04  1.29136741e+04
  1.41375578e+04  1.04010792e+04  1.63351435e+04  7.64324626e+03
  1.18301291e+04  3.91004245e+03  2.63615545e+04  1.09509635e+04
  1.96020290e+03  6.16112218e+03  1.07873783e+04  1.14842841e+04
  1.10153614e+04  9.19132264e+03  1.21132699e+04  6.70761201e+03
  7.11192732e+03  1.08038717e+04  6.41972188e+03  8.45390083e+03
  3.80897316e+03  3.68342935e+04  6.07809369e+03  3.06573535e+04
  3.50057067e+04  3.54362182e+04  6.96721985e+03  1.31016465e+04
  9.85642941e+03  1.44103809e+04  1.76615484e+04  3.53740155e+04
  3.29431511e+04  6.07488704e+03  3.21367113e+04  9.38688973e+03
  2.95127507e+04  3.57694757e+03  2.81204395e+04  5.59002593e+03
  5.28980889e+03  1.61728636e+03  1.17069649e+04  1.50251936e+04
  1.18527050e+04  4.30881816e+03  9.95356919e+03  3.19025963e+04
 -1.65956164e+02  3.28313215e+04  3.18433885e+03  1.02728929e+04
  1.42889681e+04  3.15227060e+04  1.13833549e+04  3.78552461e+03
  1.32680566e+04  3.15914630e+04  8.02453959e+03  3.24289565e+03
  8.30929171e+03  1.06598817e+04  1.51443430e+04  5.74695101e+03
  3.56460904e+03  1.01540045e+04  1.08661623e+04  1.11703715e+04
  1.45476489e+04  7.53884859e+03  5.31733750e+03  9.20141914e+03
  9.24636405e+03  1.25293272e+04  8.19211285e+03  1.54066236e+04
  8.45360343e+03  3.18415879e+04  3.59054308e+04  3.15587027e+04
  5.97484964e+03  1.25950829e+04  6.09977368e+03  1.45420785e+04
  2.51733216e+03  3.29161880e+04  6.27045413e+03  4.82962903e+03
  1.42769697e+04  6.85958782e+03  3.86647616e+04  2.97975742e+03
  5.95504702e+03  3.17099921e+04  1.15619667e+04  8.54443611e+03
  1.49901376e+04  9.79177172e+03  2.70418438e+04  3.35320602e+04
  1.44570066e+04  1.48366972e+03  1.31533830e+04  2.17093751e+03
  5.21565463e+03  1.16546341e+04  3.98498686e+04  3.66412467e+04
  3.41007797e+04  3.66846666e+03  7.24882208e+03  8.46284571e+03
  1.25929027e+04  4.82534360e+03  1.78709003e+03  3.22444993e+04
  2.50284948e+04  1.78011973e+04  2.62513361e+04  1.02100752e+04
  3.73092669e+04 -7.44768781e+02  6.86060134e+03  7.56367332e+03
  4.17852990e+03  5.02178328e+03  5.86210903e+03  4.08839862e+03
  1.52345737e+04  1.13216107e+04  6.72183884e+03  2.34053498e+03
  1.33460735e+03  3.18631345e+04  1.66952825e+04  1.20751830e+04
  1.07289221e+03  1.24163343e+04  1.34782267e+03  8.60933757e+03
  1.74607127e+03  3.41598326e+04  1.09069565e+04  2.53413151e+03
  2.55206791e+04  2.62965525e+04  9.60088326e+03  1.51030992e+03
  1.35066633e+04  7.89905277e+02  1.04448272e+04  1.05631727e+04
  1.68928547e+04  2.69512173e+04  6.95441610e+03  5.03940577e+03
  5.74736596e+03  1.31348026e+04  1.11468727e+04  8.29100201e+03
  5.05736836e+03  1.25132645e+04  1.39016371e+04  3.59173619e+04
  4.21635702e+03  2.90498444e+04 -1.22392475e+03  2.91691519e+03
  1.11744516e+04  1.55780399e+04  5.30329567e+03  6.89233093e+03
  3.51208788e+03  3.13504858e+04  7.22278382e+03  1.26390151e+04
  5.60039389e+03  9.55242297e+03  3.63133643e+04  4.50411041e+03
  9.61288507e+03  3.10653029e+04  5.69455077e+03  4.46113945e+03
  1.06841640e+03  4.92200234e+03  4.24281021e+03  6.41593247e+03
  1.85517044e+04 -1.56740596e+03  2.11889655e+03  1.05595022e+04
  2.91402094e+03  1.01619420e+04  3.57178873e+03  4.98647303e+03
  1.24882067e+04  6.25391043e+03  8.29804779e+03  7.31169538e+03
  8.75925753e+03  1.05391745e+04  2.79320679e+04  3.93833633e+04
  1.18413236e+04  7.67231550e+03  4.11065917e+04  1.21886603e+04
  6.97963322e+03  8.26090288e+03  9.18787872e+03  1.08669023e+04
  9.96245218e+03  1.78815219e+04  8.28609177e+02  2.35609300e+04
  1.27148481e+04  3.32253307e+04  5.08082110e+03  1.33428952e+04
  1.04076631e+04  1.78494514e+04  9.62630794e+03  1.15863079e+04
  3.21803721e+04  3.27685227e+03  1.36809427e+04  3.95418357e+04
  5.43946983e+03  6.20042803e+03  3.26478438e+03  1.14283851e+04
  2.53040306e+04  1.40140879e+04  9.14502748e+03  1.01214696e+04
  1.35912583e+04  7.09580665e+02  2.42358603e+03  3.09115585e+04
  3.00195197e+04  1.36756438e+04  3.53443845e+03  2.54083500e+04
  1.35411043e+04  3.08746198e+04  3.34375537e+03  3.92345757e+04
  1.12360557e+04  4.86723495e+03  6.51863022e+03  2.52878228e+03
  2.59564650e+04  1.43548082e+04  3.84748455e+02  1.25576151e+04
  1.28759281e+04  1.50248493e+04  3.50835336e+04  1.43234744e+04
  3.17907475e+04  9.76791160e+03  1.81256874e+04  5.85772105e+03
  8.94784693e+03  9.23674858e+03  1.53403911e+04  9.01855608e+03
  8.31647140e+03  1.51030129e+04  1.27964108e+04  1.49006585e+04
  7.38492140e+03  2.62126941e+04  9.41345710e+03  1.86489440e+03
  4.19467703e+03  1.42007217e+04  3.59072654e+04  9.43787027e+03
  1.28089589e+04  5.17789479e+03  4.79382275e+03  3.71997850e+03
  2.64861812e+03  8.94580690e+03  7.18664706e+03  2.50526427e+03
  1.28757947e+04  8.86860111e+03  5.77292400e+03  4.81410573e+02
  9.31321770e+03  4.96722208e+03  3.29904612e+04  2.86549894e+04
  3.71370961e+04  5.51561184e+03  8.70063209e+03  8.39410796e+03
  3.38546054e+03  3.16213395e+04  7.05479561e+03  2.84936077e+04
  3.61878199e+04  7.08103924e+03  1.29065789e+04  9.75779590e+03
  8.28219386e+03  1.26125686e+04  3.01375251e+04  1.71419200e+04
  1.17861949e+04  3.94718735e+03 -1.42192425e+03  1.21592284e+04
  3.08471104e+04  1.31466609e+04  1.12107231e+04  7.90773392e+03
  3.51335367e+03  7.08775791e+03  7.12687675e+03  1.04616952e+04
  3.37546791e+04  3.91502589e+04  1.18691270e+04  8.31038969e+03
  1.65905481e+04  1.55075370e+04  9.45670627e+03  9.19939411e+03
  8.74874945e+03  2.54736601e+03  1.00855574e+04  3.91072886e+03
  1.05683316e+04  1.60300905e+04  6.76848030e+03  1.99822039e+03
  1.47230732e+04  2.00640985e+01  1.39965519e+04  8.37533804e+03
  1.32283425e+04  3.63696221e+04  3.37346703e+04  3.55680697e+04
  5.93038495e+03  6.06885141e+03  1.65369324e+04  8.20327314e+03
  3.78139244e+04  4.83368990e+03  8.19657030e+03  9.88756125e+03
  3.02872705e+04  5.16906545e+03  3.46191129e+03  1.66925561e+04
  3.61292923e+03  6.19664199e+03  1.02844145e+04 -1.06036208e+03
  2.95051594e+04  8.37348839e+03  9.82857369e+03  5.70709887e+03
  7.40125890e+03  1.15185348e+04  2.88643930e+04  9.51615485e+03
  1.06198392e+04  6.39680244e+03  4.16104752e+03  7.70654329e+02
  7.87887087e+03  1.12662263e+04  1.00785831e+04  8.46034466e+03
  6.06708959e+03  4.35532288e+03]

In [ ]:
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score